.main {
  display: flex;
  justify-content: center;
}

.food-grid {
  text-align: center;
  padding-bottom: 100px;
}

.slider {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-snap-points-x: repeat(250px);
  max-width: 810px;
}

.slider > div {
  flex-shrink: 0;
  margin-right: 30px;
}

.all-link {
  background-color: rgba(125, 214, 125, 0.884);
  display: inline-block;
  color: rgb(0, 0, 0);
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 20px;
  margin-bottom: 10px;
}

.all-link:active {
  background-color: rgba(156, 233, 156, 0.772);
}

.slider-container {
  margin-top: 50px;
}

.food-image-container {
  position: relative;
  text-align: center;
  overflow: hidden;
  width: 250px;
  height: 500px;
}

.food-image {
  width: 250px;
  height: 500px;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  object-position: center;
  transform: scale(1);
  transition: transform 0.5s;
}

.food-image:hover {
  transform: scale(1.1);
  transition: transform 1s;
}

.food-info-container {
  background-color: rgba(128, 182, 95, 0.9);
  position: absolute;
  bottom: 10%;
  left: 0%;
  width: 250px;
  pointer-events: none;
}

.food-category {
  padding-top: 15px;
  font-weight: bold;
  color: white;
  font-size: 13px;
}

.food-name {
  padding-bottom: 15px;
  color: white;
  font-size: 22px;
}