.main {
  display: flex;
  justify-content: center;
}

.food-grid {
  text-align: center;
  padding-bottom: 100px;
}

.slider {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-snap-points-x: repeat(250px);
  max-width: 810px;
}

.slider > div {
  flex-shrink: 0;
  margin-left: 30px;
}

.next-butt {
  border-style: none;
  font-size: 50px;
  align-self: center;
  margin-left: 10px;
  border-radius: 100px;
  height: 80px;
  width: 100px;
  cursor: pointer;
  background-color: rgb(208, 208, 208);}

.next-butt:active {
  background-color: rgb(173, 173, 173);
  transition: opacity 0.3s;
}

.all-link {
  background-color: rgba(157, 157, 157, 0.876);
  display: inline-block;
  color: rgb(0, 0, 0);
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 20px;
  margin-bottom: 10px;
}

.all-link:active {
  background-color: rgba(200, 199, 199, 0.876);
}

.slider-container {
  margin-top: 50px;
}